NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dev_nextauth_secret_change_me
KEYCLOAK_ISSUER=http://localhost:8081/realms/ecommerce-orderflow
KEYCLOAK_CLIENT_ID=web
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:8080/v1/graphql

NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8081/realms/ecommerce-orderflow
