# Postgres
POSTGRES_USER=ecommerce_orderflow
POSTGRES_PASSWORD=ecommerce_orderflow_dev_pw
POSTGRES_DB=ecommerce_orderflow

# Hasura
HASURA_GRAPHQL_ADMIN_SECRET=ecommerce_orderflow_dev_admin_secret
HASURA_GRAPHQL_DATABASE_URL=postgres://ecommerce_orderflow:ecommerce_orderflow_dev_pw@postgres:5432/ecommerce_orderflow
PG_DATABASE_URL=postgres://ecommerce_orderflow:ecommerce_orderflow_dev_pw@postgres:5432/ecommerce_orderflow
